<div class="container row col-lg-12 col-md-12 col-sm-12" >
<%= form_for(@enrollment) do |f| %>

  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
      <% @enrollment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <fieldset>
    <% if can? :do_as_student, :all %>
    <% #@course_ID = params[:course_id] %>
        <% #@user_ID = params[:user_id] %>
        <div class="field">
          <%= f.label :student_id %><br>
          <%= f.number_field :student_id, :value => @user_id.id %>
        </div>
        <div class="field">
          <%= f.label :instructor_id %><br>
          <%= f.number_field :instructor_id, :value => @instructor_id %>

        </div>
        <div class="field">
          <%= f.label :course_id %><br>
          <%= f.number_field :course_id, :value => @course_id %>
        </div>
    <% else %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :instructor_id %><br>
    <%= f.number_field :instructor_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
 <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_area :material %>
  </div>
  <div class="field">
    <%= f.label :admission %><br>
    <%= f.check_box :admission %>
  </div>
<% end %>
        </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
    <div class="filed">
    </div>
<% end %>
</div>