
<p id="notice"><%= notice %></p>
<div class="row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<h1>Listing Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Courseid</th>
      <th>Coursename</th>
      <th>Instructor</th>
      <th>Description</th>
      <th>Studentname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.courseid %></td>
        <td><%= enrollment.coursename %></td>
        <td><%= enrollment.instructor %></td>
        <td><%= enrollment.description %></td>
        <td><%= enrollment.studentname %></td>

        <td><%= button_to "Enroll",new_enrollment_path, form_class: "enroll", method: "get" %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if can? :do_as_instructor, :all %>
    <li><%= link_to 'New Enrollment', new_enrollment_path %></li>
<% end %>

