<div class="container row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>

<h1>Listing Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Student id</th>
      <th>Instructor id</th>
      <th>Course id</th>
      <th>Grade</th>
      <th>Material</th>
      <th>Admission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.Student_ID %></td>
        <td><%= enrollment.Instructor_ID %></td>
        <td><%= enrollment.Course_ID %></td>
        <td><%= enrollment.Grade %></td>
        <td><%= enrollment.Material %></td>
        <td><%= enrollment.Admission %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
</div>