<p id="notice"><%= notice %></p>

<p>
  <strong>Courseid:</strong>
  <%= @enrollment.courseid %>
</p>

<p>
  <strong>Coursename:</strong>
  <%= @enrollment.coursename %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @enrollment.instructor %>
</p>

<p>
  <strong>Description:</strong>
  <%= @enrollment.description %>
</p>

<p>
  <strong>Studentname:</strong>
  <%= @enrollment.studentname %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
