<div class="container row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Student id:</strong>
  <%= @enrollment.Student_ID %>
</p>

<p>
  <strong>Instructor id:</strong>
  <%= @enrollment.Instructor_ID %>
</p>

<p>
  <strong>Course id:</strong>
  <%= @enrollment.Course_ID %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @enrollment.Grade %>
</p>

<p>
  <strong>Material:</strong>
  <%= @enrollment.Material %>
</p>

<p>
  <strong>Admission:</strong>
  <%= @enrollment.Admission %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
</div>