<div class="container">
  <div class="row col-lg-12 col-md-12 col-sm-12 " style="left: 0%; top: 70px;">
<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table border="4">
  <thead>
    <tr>
      <th>Course num</th>
      <th>Title</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.Course_num %></td>
        <td><%= course.Title %></td>
        <td><%= course.Description %></td>
        <td><%= course.Instructor %></td>
        <td><%= course.Start_date %></td>
        <td><%= course.End_date %></td>
        <td><%= course.Status %></td>
        <% if can? :do_as_student, :all %>
            <td><%= link_to 'Check Detail', course %></td>
        <% end %>
        <% if can? :do_as_instructor, :all %>
            <% @course_id = course  %>
            <td><%= button_to "Manage Enroll", edit_enrollment_path(@course_id),  form_class: "Enroll", method: "get"  %></td>
            <td><%= link_to 'Show', course %></td>
        <% end %>
        <% if can? :do_as_instructor, :all %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <% end %>
        <% if can? :do_as_admin, :all %>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
            </tr>

    <% end %>
  </tbody>
</table>

<br>
    <% if can? :do_as_admin, :all %>
<%= link_to 'New Course', new_course_path %>
    <% end %>
    </div>
  </div>